* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: rgba(240, 98, 146, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App {
  width: 80vw;
  margin-top: 15%;
  background: rgba(122, 62, 154, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

header {
  margin: 0 auto;
}

#todo input {
  background-color: rgba(21, 120, 66, 0.85);
  width: 33vw;
  height: 6vw;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
}

#todo input::-webkit-input-placeholder {
  color: #b4ae9d;
}

#todo input:-ms-input-placeholder {
  color: #b4ae9d;
}

#todo input::-ms-input-placeholder {
  color: #b4ae9d;
}

#todo input::placeholder {
  color: #b4ae9d;
}

#todo input::-webkit-input-placeholder {
  color: #b4ae9d;
}

#todo input:-ms-input-placeholder {
  color: #b4ae9d;
}

#todo input::-ms-input-placeholder {
  color: #b4ae9d;
}

#todo input::placeholder {
  color: #b4ae9d;
}

#todo button {
  background-color: rgba(255, 183, 0, 0.85);
  width: 12vw;
  height: 6vw;
  padding: 0 20px;
  font-size: 0.8em;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}